# Игнорирование системных папок сборки и IDE
**/[Bb]in/
**/[Oo]bj/
**/.vs/

# Дополнительные файлы Visual Studio
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.ilk
*.pdb
*.log
*.dll
*.exe
*.lib
Reviewer/