.timeButton {
  flex: 1;
  margin: 0 6px;
  margin-bottom: 20px;
  padding: 7px 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-gray);
  color: black;
  cursor: pointer;
  transition: opacity 0.3s, color 0.3s;
  font-size: 0.8rem;
  user-select: none;
}

.timeButton:hover:not(:disabled) {
  opacity: 0.5;
}

.timeButton:disabled {
  font-weight: 600;
  color: var(--color-accent);
  cursor: default;
  opacity: 1;
}
