$background-color: #f4f4f4;
$paper-color: #ffffff;

$table-head-color:#e0e0e0;

$text-color: #232323;
$text-color-light: #f6f6f6;
$text-secondary: #6b6b6b;
$light-grey-color: #d3d3d3;

$primary-color: #1976d2;
$secondary-color: #dc004e;
$error-color: #f44336;

$pink-color: #ef476f;
$yellow-color: #ffd166;
$green-color: #06d6a0;
$light-blue-color: #5cc6e9;
$dark-blue-color: #073b4c;